.flag{
  width:140px;
  height: 140px;
}
.center-element{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-screeen{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
