<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- Se importa elemento polymer, que es elemento padre, como Object en java -->
<dom-module id="demopolymer-app">
  <template>

   <style>
      :host {
        display: block;
      }
    </style>

   <div class="container">
     <div class="row">
       <h2>Hello [[prop1]]!</h2>
       <h3>Valor [[prop2]]</h3>
    </div>

   </div>

    <!-- unidireccional 2 llave, bidireccional, 1 llave -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
