<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="mi-visor">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
    <style>
      :host {
        display: block;
      }
      .flag{
        width:140px;
        height: 140px;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/1776/1776554.svg" class="col-lg-8 col-xs-12 flag">
      </div>
      <div class="row">
        <button class="btn btn-info" type="button" name="button" on-click="incrementar">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Nombre 1</td>
              <td>Apellido 1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Nombre 2</td>
              <td>Apellido 2</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2:{
            type: Number,
            value: 999
          }, prop3: {
            type: String,
            value: 'Indique su usuario'

          }
        };
      }

      incrementar(){
        this.prop2++;
        console.log('Valor prop1: ' + this.prop1);
        console.log('Valor prop2: ' + this.prop2);
      }

    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
