<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="login-page">
  <link rel="import" type="css" href="../../css/styles.css">
  <script src="../../js/usersFunctions.js"></script>
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
      .flag{
        width:280px;
        height: 280px;
      }
      .center-element{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .center-screeen{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
      }
      .class-show {
        display: flex !important;

      }

      .class-hide {
        display: none !important;
      }

      .tableHeaderColumns{
        background-color: #3884C1;
        color: white;
        font-weight: bold;
      }

    </style>


    <div class="container" id="divLogIn" hidden="{{hideLogIn}}">
      <div class="row center-element" align="center">
        <img src="images/imageLogin.png" class="col-lg-8 col-xs-12 flag">
      </div>
      <div class="row center-element" align="center">
        <h2>Log in</h2>
      </div>
      <div class="row" align="center">
        <table class="table">

          <tbody class="col-lg-8 col-xs-12">
            <tr>
              <td>
                <label for="inputUserId">Usuario</label>
              </td>
              <td>
                <input type="text" id="inputUserId" name="" value="{{userId::input}}" placeholder="Digite su id. de usuario" required/>
              </td>
            </tr>

            <tr>
              <td>
                <label for="inputPassword">Contraseña</label>
              </td>
              <td>
                <input type="password" id="inputPassword" name="" value="{{passValue::input}}" placeholder="Digite su contraseña" required/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row center-element">
        <!--<button class="btn" on-click="validateUser" type="button" name="button">
        <a href="[[rootPath]]">Head back to home.</a>
      </button>-->

      <!--button class="btn" on-click="validateUser" type="button" name="button">fffffff</button-->
      <button class="btn" on-click="validateUser" type="button" name="button" >Ingresar</button>
      <button class="btn" on-click="showNewUser" type="button" name="buttonNewUser" >Registrarse</button>

    </div>


  </div>

  <div class="container" id="divNewUser" hidden="{{hideNewUser}}">
    <div class="row center-element" align="center">
      <h2>Registro de usuario</h2>
    </div>
    <div class="row" align="center">
      <table class="table">

        <tbody class="col-lg-8 col-xs-12">
          <tr>
            <td>
              <label for="inputNewUserId">Id de Usuario:</label>
            </td>
            <td>
              <input type="text" id="inputNewUserId" name="" value="{{newUserId::input}}" placeholder="Digite su id. de usuario" required/>
            </td>
          </tr>


          <tr>
            <td>
              <label for="inputNewName">Nombre:</label>
            </td>
            <td>
              <input type="text" id="inputNewName" name="" value="{{newName::input}}" placeholder="Digite su nombre." required/>
            </td>
          </tr>
          <tr>
            <td>
              <label for="inputNewLastName">Apellido:</label>
            </td>
            <td>
              <input type="text" id="inputNewLastName" name="" value="{{newLastName::input}}" placeholder="Digite su apellido." required/>
            </td>
          </tr>
          <tr>
            <td>
              <label for="inputNewEmail">e-mail:</label>
            </td>
            <td>
              <input type="text" id="inputNewEmail" name="" value="{{newEmail::input}}" placeholder="Digite su correo electronico." required/>
            </td>
          </tr>

          <tr>
            <td>
              <label for="inputNewPassword">Contraseña</label>
            </td>
            <td>
              <input type="password" id="inputNewPassword" name="" value="{{newPassword::input}}" placeholder="Digite su contraseña" required/>
            </td>
          </tr>
          <tr>
            <td>
              <label for="inputConfirmPassword">Confirme su contraseña</label>
            </td>
            <td>
              <input type="password" id="inputConfirmPassword" name="" value="{{confirmPassword::input}}" placeholder="Digite su contraseña" required/>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="row center-element">
      <button class="btn" on-click="createUser" type="button" name="buttonRegister" >Registro</button>
      <button class="btn" on-click="goToHome" type="button" name="buttonHome" >Ir al Inicio</button>

    </div>

  </div>

  <div class="container" id="divAccounts" hidden="{{hideAccounts}}">
    <div class="row">
      <h1 class="col-lg-12">Gestor de Cuentas</h1>
      <p align="right">Bienvenido!</p>
    </div>

    <div class="row">
      <table hidden$="{{noCargados}}" class="table table-striped">
        <thead class="tableHeaderColumns">
          <tr>
            <td>
              N° CUENTA
            </td>
            <td>
              TIPO CUENTA
            </td>
            <td>
              MOVIMIENTOS
            </td>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>
                [[item._id.$oid]]
              </td>
              <td>
                [[item.tipocuenta]]
              </td>
              <td>
                <table class="table table-striped">
                  <thead class="tableHeaderColumns">
                    <tr>
                      <td>
                        Fecha
                      </td>
                      <td>
                        Importe
                      </td>
                      <td>
                        Categoria
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="[[item.movimientos]]">
                      <tr>
                        <td>
                          [[item.fecha]]
                        </td>
                        <td>
                          [[item.importe]]
                        </td>
                        <td>
                          [[item.categoria]]
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <div class="row center-element">
        <button class="btn" on-click="goCreateAccount" type="button" name="buttonCreateAccount" >Crear Cuenta</button>
        <button class="btn" on-click="goToHome" type="button" name="buttonReturnHome" >Exit</button>
      </div>

    </div>

  </div>

  <div class="container" id="divNewAccount" hidden="{{hideNewAccount}}">
    <div class="row center-element" align="center">
      <h2>Creación de Cuenta</h2>
    </div>
    <div class="row" align="center">
      <table class="table">

        <tbody class="col-lg-8 col-xs-12">
          <tr>
            <td>
              <label for="inputNewTypeAccount">Tipo Cuenta</label>
            </td>
            <td>
              <select class="browser-default custom-select" id="selectAccountType">
                <option selected>Seleccione Tipo Cuenta</option>
                <option value="AHO">Cuenta de Ahorros</option>
                <option value="CTE">Cuenta Corriente</option>
                <option value="CDT3">CDT 30</option>
                <option value="CDT6">CDT 60</option>
                <option value="CDT9">CDT 90</option>
              </select>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="row center-element">
      <button class="btn" on-click="createAcount" type="button" name="buttonCreateAccount" >Registro</button>
      <button class="btn" on-click="goToAccount" type="button" name="buttonHome" >Gestionar Cuentas</button>

    </div>

  </div>

  <div class="container" id="divMovements" hidden="{{hideMovements}}">
    <div class="row center-element" align="center">
      Prueba

    </div>

  </div>
</template>

<script>
  /**
  * @customElement
  * @polymer
  */
  class LoginPage extends Polymer.Element {
    static get is() { return 'login-page'; }
    static get properties() {
      return {
        rootPath: String,
        userId: {
          type: String
        },
        passValue: {
          type: String
        },
        hideLogIn: {
          type: Boolean,
          value: false
        },
        hideNewUser: {
          type: Boolean,
          value: true
        },
        hideAccounts: {
          type: Boolean,
          value: true
        },
        hideNewAccount: {
          type: Boolean,
          value: true
        },

        hideMovements: {
          type: Boolean,
          value: true
        },
        newUserId: {
          type: String
        },
        newName:{
          type: String
        },
        newLastName:{
          type: String
        },
        newEmail:{
          type: String
        },
        newPassword:{
          type: String
        },
        confirmPassword:{
          type: String
        },
        cuentas: {
          type: Array,
          notify: true
        },
        noCargados: {
          type: Boolean,
          value: true
        }
      };
    };

    //Generar hash para password digitado
    hashPassword(data){
      var hash = 0;
      var i;
      var chr;
      if (data.length === 0) return hash;
      for (i = 0; i < data.length; i++) {
        chr   = data.charCodeAt(i);
        hash  = ((hash << 5) - hash) + chr;
        hash |= 0;
      }
      return hash;
    };

    //Evento para validar usuario
    validateUser(){
      try {
        if(this.userId === undefined || this.userId === ''){
          alert('Identificador de usuario requerido.');
        } else if(this.passValue === undefined || this.passValue === '') {
          alert('Contraseña requerida.');
        } else{
          var hash = this.hashPassword(this.passValue);
          var user = obtenerUsuario(this.userId, hash);
          console.log('Validado: ' + user[0].password);
          if(user != undefined && user.length > 0 && user[0].password == hash){
            //Una vez validado el usuario, se oculta el div con campos para login
            this.hideAccounts = false;
            this.hideNewAccount = true;
            this.hideLogIn = true;
            this.obtenerCuentasCliente();
          } else{
            //No es posible obtener datos del usuario
            alert('Los datos de usuario son incorrectos.');
          }
        }
      } catch (e) {
        console.log('Error al validar usuario: ' + e.description);
      }
    };

    //Muestra div para registrar nuevo usuario
    showNewUser(){
      this.hideLogIn = true;
      this.hideNewUser = false;
    };

    goToHome(){
      this.hideLogIn = false;
      this.hideNewUser = true;
      this.hideAccounts = true;
      this.hideNewAccount = true;
      this.userId = '';
      this.passValue = '';
      this.noCargados = true;
    };

    createUser(){
      var hash = this.hashPassword(this.newPassword);
      if(this.newPassword != undefined && this.newPassword == this.confirmPassword){
        //Verificar si el usuario existe o no
        var temp = obtenerUsuario(this.newUserId);
        if (temp != undefined && temp.length > 0) {
          alert('El usuario con identifiacion ' + this.newUserId + ' ya se encuentra registrado');
        } else{
          var resp = registrarUsuario(parseInt(this.newUserId,10), this.newName, this.newLastName, this.newEmail, hash);
          if(resp == 'OK'){
            alert('Usuario ' + this.newName + ' creado satisfactoriamente.');
          } else{
            alert('Se ha presentado un error, por favor intente nuevamente');
          }
        }

      } else{
        alert('Los valores de contraseña no coinciden');
      }
    };

    obtenerCuentasCliente(){
/*
      try{
        console.log('Usuario: ' + this.userId);
        this.cuentas = [];
        console.log('Cuentas: ' + this.cuentas);

        this.cuentas = cuentasCliente(this.userId);
        if (this.cuentas != undefined &&  this.cuentas.length > 0) {
          this.noCargados = false;
        }
      } catch(e){
        console.log("Error en obtener Ctas cliente " + e.description);
      }
*/
var url = "http://localhost:3000/cuentas/"+this.userId;
    var request = new XMLHttpRequest();
    request.open("GET",url,false);
    request.setRequestHeader("Accept","application/json");
    request.send();
    this.cuentas = JSON.parse(request.responseText);
    console.log(this.cuentas);
    this.noCargados = false;
    };


    createAcount(){
      var url = "http://localhost:3000/cuentas";
      var accountType = this.shadowRoot.getElementById('selectAccountType').value;
      var request = new XMLHttpRequest();
      request.open("POST",url,false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var nuevaCuenta = {"tipocuenta": accountType, "idcliente": parseInt(this.userId, 10), "movimientos":[]};
      var body = JSON.stringify(nuevaCuenta);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      if(this.respuesta == 'OK'){
        alert('Se creo exitosamente la cuenta de tipo ' + accountType);
      } else{
        alert('Se ha presentado un error, por favor intente nuevamente');
      }
      this.noCargados = false;
    }

/*
    createAcount(){
      try {
        var accountType = this.shadowRoot.getElementById('selectAccountType');
        console.log('Tipo de cuenta seleccionado: ');
        console.log(accountType);
        console.log('Valor seleccionado: ' + accountType.value)
        var resp = insertarCuenta('', this.userId);
        if (resp != undefined && resp == 'OK') {
          this.noCargados = false;
          alert('Cuenta creada correctamente');
        } else{
          alert('Se produjo un error al crear la cuenta');
        }
      } catch (e) {
        console.log('Error en creacion de cuenta' + e.description);

      }

    };*/


    goCreateAccount(){
      this.hideLogIn = true;
      this.hideNewUser = true;
      this.hideAccounts = true;
      this.hideNewAccount = false;
    }
    goToAccount(){
      this.hideLogIn = true;
      this.hideNewUser = true;
      this.hideAccounts = false;
      this.hideNewAccount = true;
      this.obtenerCuentasCliente();
    }
  }

  window.customElements.define(LoginPage.is, LoginPage);
</script>
</dom-module>
